$yellow: #f4bf76;
$darkYellow: #f2a742;
$orange: #f19d38;
$brightYellow: #ffd814;
$black: #000000;
$darkBlue: #131921;
$white: #ffffff;
$amazBackground: #e3e6e6;
$lightGray: #ddd;
$darkGrey: #c9cccc;

.main {
  height: 50px;
  padding: 0 10px;
  color: white;
  font-family: "PT Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid transparent;
}
.main:hover {
  border: 1px solid white;
}

.firstLine {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  white-space: nowrap;
}
.secondLine {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  fill: #a7acb2;
  width: 18px;
  margin-top: 10px;
  margin-top: 4px;
}
